#cronograma{
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.Info {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .Info th,
  .Info td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .Info td {
    font-weight: bold;
  }
  .Info tbody td:last-child {
    text-align: right;
  }

  .tabelona{
    width: 100%;
    height: 400px;
  }