:root {
    --verde-escuro: #006400; /* Verde escuro */
    --verde-medio: #008000; /* Verde médio */
    --verde-claro: #00cc00; /* Verde claro */
    --verde-acinzentado: #556b2f; /* Verde com tom mais acinzentado */
    --verde-escuro-forte: #004d00; /* Verde escuro mais forte */
}